 
script(src='/static/js/control.js')
script(src='/static/js/control-content.js')
script(src='/static/js/control-state-list.js')

button(type='button' onclick='update()') Update

div#content

div#status

div#state_list
