
h2 #{state.title}

p #{state.question}

ul
  each answer in state.answers
    li
      input(type='radio' name='answer' id='answer-'+answer._id value=answer._id)
      label(for='answer-'+answer._id) #{answer.text}
